:{$PORT:8080} {
  route {
    @collaboration_internal path /collaboration/internal/*
    respond @collaboration_internal 404

    @collaboration {
      path /collaboration
      header Connection *Upgrade*
      header Upgrade websocket
    }
    handle @collaboration {
      uri strip_prefix /collaboration
      reverse_proxy 127.0.0.1:1234
    }
    handle {
      reverse_proxy 127.0.0.1:3000
    }
  }
}
